body {
    font-style: roboto;
    padding-top: 15px;
    background-image: linear-gradient(140deg, red, blue);
    height: 100vh;
};

a {
    text-decoration: none;
};

li {
    list-style: none;
    margin: 0;
    padding: 0;
};

ul {
    margin: 0;
    padding: 0;
};

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
};

img {
    height: 100%;
    width: 100%;
};